<ul class="taskList">
{{#each todos as |todo|}}
	<li class="{{todo.type}} {{if todo.completed "completed"}}">
		{{input name="completed" type="checkbox"
	      checked=todo.completed
	      change=(action 'toggleCompleted' todo)}}
		{{#if todo.isEditing}}
			<form {{action 'saveTodo' todo on='submit'}} class="form-inline">
			<div class="input-group">
			  {{input value=todo.title class="form-control"}}
			  <div class="input-group-btn">
			    <button type="submit" class="btn btn-success" disabled={{todo.isNotValid}}>Save</button>
			    <button class="btn btn-danger" {{action 'cancelTodoEdit' todo}}>Cancel</button>
			  </div>
			</div>
			</form>
			{{else}}
			<span {{action 'editTodo' todo}}>{{todo.title}}</span>
		{{/if}}
		<div class="itemButtons">
			<button type="button" class="btn btn-default btn-xs {{if todo.priority "prioritizedTask"}}" aria-label="Priority" title="Prioritize" {{action 'markPriority' todo}}>
			  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs {{if todo.explore "exploreTask"}}" aria-label="Explore" title="Explore" {{action 'markExplore' todo}}>
			  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs {{if todo.inspiration "inspirationTask"}}" aria-label="Inspiration" title="Inspiration" {{action 'markInspiration' todo}}>
			  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs" aria-label="Delete" title="Delete" {{action 'viewMoreInfo' todo}}>
			  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs" aria-label="Delete" title="Delete" {{action 'deleteTodo' todo}}>
			  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
		{{#if todo.isInfoVisible}}
			<div>
				{{ todo.additionalInfo }}
			</div>
		{{/if}}
	</li>
{{/each}}
</ul>