<h2>Daily Log: {{moment-format date 'MMMM do YYYY'}}</h2>

<section>
	{{list-widget todos=model}}
</section>

<form class="form-inline" {{action "publishDaily" on="submit"}}>
	<div class="form-group">
		{{input value=title placeholder="type to add a new item..." class="form-control addTask"}}
	</div>
	<div class="form-group">
		<select onchange={{action (mut type) value="target.value"}} class="form-control">
			<option value="">---</option>  
		  {{#each typeOptions as |type|}}
		     <option value={{type.value}}>
		        {{type.label}}
		     </option>
		  {{/each}}
		</select>
	</div>
	<div class="form-group">
		<label for="additionalInfo">Additional Information</label>
		{{textarea value=additionalInfo placeholder="" class="form-control"}}
	</div>
	<button type="submit" class="btn btn-default" disabled={{titleEmpty}}>Add</button>
</form>